{% extends "base.html.twig" %}

{% block head %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/style.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" type="text/css" />
    {% endblock %}

    {% block title 'Demo Bundle' %}
{% endblock %}

{% block body %}

    <div id="wrap">
        {% block header %}
            <div id="hdr">

                <!-- Top Menu -->
                <div id="hdl">
                    <a href="#" class="hl">About Us</a>
                    <a href="#" class="hl">Contact Us</a>
                    <div>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <a href="#" class="hl">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} | </a>
                            <a href="{{ path('fos_user_security_logout') }}" class="hl">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        {% else %}
                            <a href="{{ path('fos_user_security_login') }}" class="hl">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        {% endif %}
                    </div>


                </div>

                <!-- Search form -->
                <form id="search_form" method="get" action="">
                    <input class="search_field" type="text" value="Search" onfocus="clS(1);" onblur="clS(0);"  name="s" id="s" />
                    <input class="search_button" type="submit"  value="" id="searchsubmit" />

                </form>

                <!-- Logo -->
                <div id="logo">
                    <a href="index.html"></a>
                </div>

                <!-- Main Menu -->
                <div id="menu">
                    <a class="mh" href="#">Home</a>
                    <a class="mt" href="#">Tutuorials</a>
                    <a class="mw" href="#">Wallpapers</a>
                    <a class="mi" href="#">Inspiration</a>
                </div>

            </div>
        {% endblock %}

        {% block content %}
            <div id="cnt">

                <!-- Left Container -->
                <div id="lcnt">
                {% block left_container %}

                    {% for type, messages in app.session.flashbag.all() %}
                        {% for key, message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message|trans({}, 'FOSUserBundle') }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <div>
                        {% block fos_user_content %}
                        {% endblock fos_user_content %}
                    </div>

                {% endblock %}
                </div>
                <!-- Right Container -->
                {% block right_container %}
                    <div id="rcnt">
                        <div class="rss_twitt">
                            <!-- RSS Box -->
                            <a href="http://feeds.feedburner.com/DryIconsFreeGraphics" class="rss"><img height="26" width="88" alt="" style="border: 0pt none ;" src="http://feeds.feedburner.com/~fc/DryIconsFreeGraphics?bg=DEDEDC&amp;fg=444444&amp;anim=0"/></a>
                            <!-- Twitter Counter Box -->
                            <script type="text/javascript" language="JavaScript" src="http://twittercounter.com/embed/dryicons/444444/DEDEDE"></script>

                        </div>

                        <!-- Sponsored Ads -->
                        <h2>Sponsored Ads</h2>

                        <div class="l_lnk">

                            <a href="#"><img src="{{ asset('bundles/acmedemo/images/sponsor_ads1.jpg') }}" alt="spon_ad_1" /></a>
                            <a href="#"><img src="{{ asset('bundles/acmedemo/images/sponsor_ads2.jpg') }}" alt="spon_ad_2" /></a>
                            <a href="#"><img src="{{ asset('bundles/acmedemo/images/sponsor_ads3.jpg') }}" alt="spon_ad_3" /></a>
                            <div>
                                <a target="_blank" href="http://dryicons.com/advertise/">Advertise Here</a>
                            </div>

                        </div>

                        <!-- Popular Wallpapers -->
                        <h2>Popular Wallpapers</h2>

                        <a class="wall" href="#"><img src="{{ asset('bundles/acmedemo/images/pop_wall1.jpg') }}" alt="pop_wall_1" /></a>
                        <a class="wall" href="#"><img src="{{ asset('bundles/acmedemo/images/pop_wall2.jpg') }}" alt="pop_wall_2" /></a>

                        <!-- Popular Posts -->
                        <h2>Popular Posts</h2>

                        <a class="pop_posts" href="#">Logo Design Process Tutorial</a>
                        <a class="pop_posts" href="#">Great use of pop music in great films</a>
                        <a class="pop_posts" href="#">Icon design tutorial: How to make a Calendar icon</a>
                        <a class="pop_posts" href="#">1st Anniversary and Graphics Giveaway Winners</a>
                        <a class="pop_posts" href="#">Smashing Magazine and DryIcons collaboration</a>

                    </div>
                {% endblock %}

                <br style="clear: both;"/>
            </div>
        {% endblock %}
    </div>

        {% block footer %}
            <div id="foo">

                <!-- Footer Container -->
                <div id="foo_d">

                    <!-- Footer Menu -->
                    <div id="foo_menu">

                        <a href="#">Home</a><span>.</span>
                        <a href="#">Tutorials</a><span>.</span>
                        <a href="#">Wallpapers</a><span>.</span>
                        <a href="#">Inspiration</a><span>.</span>
                        <a href="#">About Us</a><span>.</span>
                        <a href="#">Contact Us</a>

                    </div>
                    <!-- DryIcons credit: Do not remove the following code if you are using this template under the DryIcons Free License Terms of Use
                     If you'd like to use this theme without the obligatory back-link to http://dryicons.com/ please
                     consider using it under the DryIcons Commercial License Terms
                     For details see http://dryicons.com/terms/ -->

                    <p>&copy;2009 blogair. All rights reserved. Template and Icons by <a target="_blank" href="http://dryicons.com">DryIcons</a></p>

                </div>

            </div>
        {% endblock %}

{% endblock %}
