{% extends "AcmeDemoBundle::layout.html.twig" %}


{% block left_container %}
        <!-- Post -->
        <div class="post">

            <!-- Post Details -->
            <div class="post_inf">
                <span>{{ post.date|date("F j") }}</span><br />
                <span class="posn">Admin</span><br />
                <a class="posc" href="{{ path('acme_demo_show_post', {'id': post.id}) }}">3 Comments</a>

            </div>

            <!-- Post Title - Permalink -->
            <h1>
                <a href="{{ path('acme_demo_show_post', {'id': post.id}) }}">{{ post.title }}</a>
            </h1>

            <!-- Post Content -->
            <a class="pic_lnk" href="{{ path('acme_demo_show_post', {'id': post.id}) }}"><img src="{{ asset('bundles/acmedemo/images/post_pic1.jpg') }}" alt="post_pic1" /></a>

            <p>{{ post.body }}</p>

        </div>

        <h2>
            <a href="#">3 comments</a>
        </h2>

        <!-- Comments -->
        <div class="comments">

            <!-- Comment -->
            <div class="comment">

                <div class="comm_hdr">
                    <p>1. Persia Emily <span> | February 20, 2009 04:33</span></p>
                </div>

                <div class="avat">
                    <img src="{{ asset('bundles/acmedemo/images/avatar.jpg') }}" alt="avatar" />
                    <img src="{{ asset('bundles/acmedemo/images/avatar_frame.png') }}" alt="avatar_frame" class="avatar_frame" />
                </div>

                <p class="comm_txt">
                    How excited I am! Coquette Part4 comes out!<br />
                    I love Dryicons' products very much! <br />
                    <br />
                    They're all good!
                </p>

            </div>

            <!-- Comment -->
            <div class="comment">

                <div class="comm_hdr">
                    <p>2. spyece <span> | February 27, 2009 09:43</span></p>
                </div>

                <div class="avat">
                    <img src="{{ asset('bundles/acmedemo/images/avatar.jpg') }}" alt="avatar" />
                    <img src="{{ asset('bundles/acmedemo/images/avatar_frame.png') }}" alt="avatar_frame" class="avatar_frame" />
                </div>

                <p class="comm_txt">
                    Please realease more of such, these icon rocks, thanks a lot for these.
                </p>

            </div>

            <!-- Comment -->
            <div class="comment">

                <div class="comm_hdr">
                    <p>3. Keith D <span> | April 15, 2009 04:25</span></p>
                </div>

                <div class="avat">
                    <img src="{{ asset('bundles/acmedemo/images/avatar.jpg') }}" alt="avatar" />
                    <img src="{{ asset('bundles/acmedemo/images/avatar_frame.png') }}" alt="avatar_frame" class="avatar_frame" />
                </div>

                <p class="comm_txt">
                    Superb colours... some of the icons can be used for lots of things.<br />
                    I've used them to brighten up my website, and make it look as though I know what I'm doing. Can't praise you enough.
                </p>

            </div>

        </div>

        <h2>Post your comments</h2>

        <!-- Comment Form -->
        <form id="cmnt_frm" method="post" action="">
            <p><input type="text" name="author" size="22" tabindex="1" id="author"/><label>Name <span>(required)</span></label></p>
            <p><input type="text" name="email" size="22" tabindex="2" id="email"/><label>Mail <span>(will not be published) (required)</span></label></p>
            <p><input type="text" name="url" size="22" tabindex="3" id="url"/><label>Website</label></p>
            <p>
                <textarea name="comment" cols="65" rows="10" tabindex="4" id="comment"></textarea>
            </p>
            <p>
                <input type="submit" name="submit" value="Post comment" tabindex="5" id="submit"/>
            </p>

        </form>
{% endblock %}